body {
    font-family: "Inter", sans-serif;
    background: rgb(11, 27, 54);
    overflow: hidden;
    font-weight: normal;

}

.image-wrapper {
    width: auto;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

/* Colors and Background */
.text-skyblue {
    color: #25CBD2;
}

button {
    background: transparent;
    border: none;
}


/* font sizs and weights */
.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-26 {
    font-size: 26px;
}

.fs-37 {
    font-size: 37px;
}

.fs-40 {
    font-size: 40px;
}

.fs-53 {
    font-size: 53px;
}

.fs-96 {
    font-size: 96px;
}

/* padding and margins */
.pt-30 {
    padding-top: 200px;
    padding-bottom: 300px;
}

.py-11 {
    padding-top: 110px;
    padding-bottom: 110px;
}

.pt-20 {
    padding-top: 200px;
    padding-bottom: 150px;
}

.mt-8 {
    margin-top: 80px;
}

.mt-10 {
    margin-top: 100px;
}

/* borders */
.border-primary {
    border-color: #25CBD2 !important;
}

/* headings and paragraphs */
h1 {
    font-size: 64px;
    margin: 0;
}

p {
    font-size: 16px;
    margin: 0;
}

/* buttons */
.btn {
    padding: 8px 40px;
}

.btn-primary {
    background-color: rgb(11, 27, 54) !important;
    border-color: #25CBD2;
}

.right-circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/assets/images/main-circle.png) no-repeat center center;
    background-size: contain;
    animation: rotate 10s linear infinite;
    right: 30%;
    top: 0;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* hero-section */
.hero-section {
    z-index: 1;
    overflow: hidden;

}

.img-animation {
    animation: 2s ease-in-out 0s infinite alternate-reverse both running up-down;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
        /* Adjust the value as needed */
    }
}

.hero-section .bg-image {
    z-index: -1;
    opacity: .5;
}


/* AI SECTION */

.AI-section .card {
    width: fit-content;
}

.opacity-04 {
    opacity: 0.4;
}

.opacity-04:hover {
    opacity: 1;
}

img [src*="light-blue.png"] {
    width: 100%;
}

.box {
    border: 2px solid #25CBD2;
    cursor: pointer;
}

/* position absolute values */
.end-30 {
    right: 30%;
}

.top-15 {
    top: 15%;
}

.top-36 {
    top: 36%;
}

.end-75 {
    right: 75%;
}

.end-21 {
    right: 21%;
}

.top-33 {
    top: 33%;
}

.top-23 {
    top: 23%;
}

.end-23 {
    right: 23%;
}

.top-44 {
    top: 44%;
}

.top-47 {
    top: 47%;
}

.top-72 {
    top: 72%;
}

.top-7 {
    top: 7%;
}

.end-44 {
    right: 44%;
}

.end-49 {
    right: 49%;
}

.top-46 {
    top: 46%;
}

.end-47 {
    right: 47%;
}

.end-79 {
    right: 79%;
}

.top-81 {
    top: 81%;
}

.end-48 {
    right: 48%;
}

/*Intelligence section */
.intelligence-section {
    z-index: 1;
}

.left-circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/assets/images/main-circle.png) no-repeat center center;
    background-size: contain;
    animation: rotate 10s linear infinite;
    right: -30%;
}

.intelligence-section h2::before {
    content: "";
    height: 2px;
    flex: 1;
    max-width: 50%;
    background-color: #25CBD2;
}

.w-80 {
    width: 80%;
}

/* inteligence section */
.inteligence-section ul::before {
    content: "";
    height: 2px;
    flex: 1;
    max-width: 50%;
    background-color: #25CBD2;

}

/* scope section */
.scope-section {
    z-index: 2;
}


/* machine-section */
.machine-section {
    z-index: 1;
}


.machine-section h2::before {
    content: "";
    height: 2px;
    flex: 1;
    max-width: 50%;
    background-color: #25CBD2;
}

/* feature section */

.feature-section .btn {
    padding: 8px 17px;
}

/* supervised section */
.supervised-section {
    z-index: 1;
}



/* Unsupervised section */
.Unsupervised-section {
    z-index: 1;
}



/* reinforcementlearning-section */
.reinforcementlearning-section {
    z-index: 1;
}



/* deeplearning-section */
.deeplearn-section {
    z-index: 1;
}


/* Refrences section */
.references-section h2::after {
    content: "";
    height: 3px;
    flex: 1;
    max-width: 100%;
    background-color: #25CBD2;
}

/* thank section */
.center-cricle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/assets/images/main-circle.png) no-repeat center center;
    background-size: contain;
    animation: rotate 10s linear infinite;
    left: 0%;
}


@media screen and (max-width:575.98px) {
    .mt-10 {
        margin-top: 70px;
    }

    .fs-53 {
        font-size: 50px;
    }

    .fs-18 {
        font-size: 16px;

    }

    .fs-16 {
        font-size: 14px;
    }

    .opacity-04 {
        opacity: 1;
    }

    .end-47 {
        right: 31%;
    }

    .top-7 {
        top: 5%;
    }

    .top-15 {
        top: 12%;
    }

    .end-30 {
        right: 11%;
    }

    .top-23 {
        top: 19%;
    }

    .end-21 {
        right: 0;
    }

    .end-23 {
        right: 2%;
    }

    .end-44 {
        right: 28%;
    }

    .top-33 {
        top: 27%
    }

    .end-49 {
        right: 39%;
    }

    .top-47 {
        top: 46%;
    }

    .top-72 {
        top: 73%;
    }

    .end-48 {
        right: 37%;
    }

    img[src*="light-blue.png"] {
        width: 80%;
    }

    img[src*="branches-bg.png"] {
        width: 27%
    }
}